body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(255, 255, 255, 0.9);
    }
    
    header{
        background-color: rgb(44, 44, 40, 0.9) ;
        color : rgb(255, 255, 255, 0.9);
        font-size: 0.8em;
        padding: 20px 5px;
        background-position: center center;
        height: 20px;
        display: flex;
        
        
    }
        
    header h1 span{
        color : rgb(91, 131, 255, 0.9)
        
    }
    
    header h1{
        justify-content: flex-start;
        width: 850px;
        margin-top: -10px;
     
    }
        
    header img{
        justify-content: flex-end;
        width: 80px;
        padding-left: 10px;
    }
    
    header .img1{
        order: 1;

    } 

    main{
        width: 1000px;
        display:flex;
        padding : 10px;
        box-sizing: border-box;
        text-align: center;
        margin : 5px;
        position: relative;
    }

    
    main aside{
        justify-content: flex-start;
        font-size: 1.2em;
        margin : 2px;
        width: 300px;
        margin-top: 100px;
        padding : 10px;
       position: absolute;
        
    }
    
    main aside ul li{
        text-decoration: none;
        list-style: none;
        justify-content: center;
        color : rgb(255, 255, 255, 0.9);
        background-color: rgb(91, 131, 255, 0.9);
        padding: 10px 5px;
        text-align: center;
            
    }
    
    main aside ul li a{
        text-decoration: none;
        list-style: none;
        color : rgb(255, 255, 255, 0.9);
         
    }

    main section form{
        justify-content: flex-end;
        width: 750px;
        margin-left: 250px;
        margin-right: 50px;
        padding : 5px 0;
        text-align: end;
        
        
    }

fieldset{
display : inline ;
text-align: right;
padding-left: -50px;



}

    main section form input{
        border: 2px solid rgb(91, 131, 255, 0.9); 
        border-radius: 1em;
        padding : 5px 10px;
        margin : 5px 0;
    }    

    main section form select{
        border: 2px solid rgb(91, 131, 255, 0.9); 
        border-radius: 1em;
        padding : 5px 50px;
        margin : 5px 0;
    }    


    .bouttonV{
        margin-top: 50px;    
        margin-right : 100px;
        margin-left: -500px;
        padding: 5px 50px;
        color:rgb(255, 255, 255, 0.9);
        border: 2px solid rgb(91, 131, 255, 0.9); 
        background-color: rgb(91, 131, 255, 0.9); ; 
        border-radius: 1em;
        
}    
    
.bouttonA{
        margin-top : 50px;
        margin-right: 100px;
        margin-left: -80px;
        padding : 5px 50px;
        color:rgb(255,255,255, 0.9);
        border: 2px solid rgb(255,99,71, 0.9);
        background-color:rgb(255,99,71, 0.9) ;
        border-radius: 1em;
        
        
}


/*#hide{
        display: none; */

}
    